.header {
    width: 750px;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header text {
    font-size: 36px;
    color: #000000;
}

.logo {
    height: 60px;
    width: 60px;
}

.search-icon {
    height: 36px;
    width: 36px;
}

.body {
    background-color: #ebebeb;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    flex-direction: column;
}

.banner {
    height: 300px;
    width: 750px;
}

.recent-read {
    background-color: #ffffff;
    padding: 24px 0;
    align-items: center;
    margin-bottom: 20px;
}

.recent-read-title {
    width: 160px;
    height: 30px;
    text-align: center;
    color: #ff5c4d;
    font-size: 30px;
    line-height: 30px;
    border-right-width: 2px;
    border-right-color: #dadada;
}

.recent-read-item {
    lines: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
    text-align: center;
}

.novel-name {
    color: #000000;
}

.tab-bar {
    background-color: #ffffff;
    height: 100px;
    color: #b2b2b2;
    font-size: 34px;
    text-align: center;
}

.active {
    font-weight: bold;
    color: #ff5c4d;
    border-bottom-width: 6px;
    border-bottom-color: #ff5c4d;
}

.tab-content {
    background-color: #ebebeb;
    flex-direction: column;
    flex-wrap: wrap;
}

.tab-content-section {
    width: 750px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.recommend-title {
    width: 100%;
    height: 100px;
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recommend-title .title {
    color: #ff5c4d;
    font-size: 34px;
    font-weight: bold;
    border-left-color: #ff5c4d;
    border-left-width: 6px;
}

.recommend-name {
    height: 40px;
    padding: 0 30px;
    font-size: 26px;
}

.recommend-list-column {
    width: 750px;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.recommend-list-column-item {
    width: 690px;
    height: 200px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.recommend-list-column-item image {
    width: 150px;
    height: 200px;
}

.recommend-list-column-item .item-desc {
    width: 520px;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
}

.recommend-list-column-item .item-desc .title {
    lines: 1;
    font-size: 32px;
    color: #000000;
}

.recommend-list-column-item .item-desc .desc {
    lines: 2;
    font-size: 28px;
    text-overflow: ellipsis;
    margin-top: 30px;
}

.recommend-list-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-between;
}

.recommend-list-row-item {
    height: 280px;
    width: 180px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recommend-list-row-item image {
    height: 240px;
    width: 180px;
}

.recommend-list-row-item text {
    lines: 1;
    text-overflow: ellipsis;
    height: 28px;
    width: 180px;
    font-size: 28px;
    color: #353535;
    text-align: center;
}

.empty {
    height: 0;
    width: 180px
}

.flexible-tabbar {
    width: 750px;
    background-color: #ffffff;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1px;
}

.flexible-tabbar>div {
    flex-grow: 1;
    justify-content: center;
}

.tab-bar-list {
    width: 750px;
    height: 2800px;
}